// variables.scss
// Background Colors
$BGPrimary: #ffffff;
$BGSecondary: #f9f9f9;
$BGTertiary: #ff4747;
$BGDisable: #f3f4f6;

// Border Colors
$BorderExtraLight: #ececec;
$BorderLight: #d3d6db;
$BorderMedium: #a6abb9;

// Text Colors
$TextInvert: #ffffff;
$TextPrimary: #11181c;
$TextSecondary: #505662;
$TextTertiary: #8c919a;
$TextQuaternary: #abb1ba;
$TextError: #ff4747;

// Indicator Colors
$IndicatorWhite: #ffffff;
$IndicatorLight: #f4f6fa;
$IndicatorMedium: #d3d6db;
$IndicatorNormal: #505662;
$IndicatorError: #ff4747;
$IndicatorAttention: #ffc72e;
$IndicatorPositive: #44d077;

// Brand Colors - Cinema
$BGBrand: #9534d2;
$BGPressedPrimary: #8435e6;
$BGHoverPrimary: #7129dc;
$BGBrandExtraLight: #f1d8f9;
$TextBrandDisabled: #f1d8f9;
$IndicatorFocused: #e2a4ff;
$IndicatorFocusedAlternative: #f1d8f9;
