/* Variant=Contained, State=Default, Type=Primary */

/* Auto layout */
.button {
  padding: 16px 32px;
  max-width: 328px;
  width: 100%;
  background-color: $BGBrand;
  border-radius: 16px;
  color: $TextInvert;
}
