.navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 22px 240px;
  background-color: $BGPrimary;
  margin: 0 auto;
  border-bottom: 1px solid #ced2da;

  img {
    height: 40px;
    object-fit: contain;
  }

  .leftSection {
    display: flex;
    align-items: center;
    gap: 32px;
  }

  .rightSection {
    button {
      max-width: 120px;
      padding: 12px 24px;
    }
  }

  &_item {
    display: flex;
    align-items: center;
    gap: 1rem;
    cursor: pointer;
  }
}

.content {
  padding: 2rem;
}

/* Project=Cinema, Enter=On */
@media screen and (max-width: 768px) {
  .navigation {
    padding: 12px 50px;
    z-index: 100;
    width: 100%;
    position: fixed;
    bottom: 0;

    .leftSection {
      gap: 0;
      justify-content: space-between;
      width: 100%;
    }

    .rightSection {
      display: none; // Скрываем кнопку входа на мобильных устройствах
    }

    &_item {
      flex-direction: column;

      &:first-child {
        display: none;
      }
    }
  }
}
