// SuccessPayment.module.scss

.successPayment {
  text-align: center;
  padding: 40px 20px;
  background-color: #ffffff;
  border-radius: 12px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  max-width: 1024px;
  margin: 0 auto;
  font-family: 'Arial', sans-serif;

  .successIcon {
    display: flex;
    font-size: 60px;
    align-items: center;
    gap: 36px;
    color: #4caf50; // Зеленый цвет для иконки успеха
    margin-left: 20px;
  }

  h1 {
    font-size: 28px;
    color: #333;
    font-weight: 400;
  }

  .ticketInfo {
    text-align: left;
    margin: 20px 0;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    border: 1px solid #e0e0e0;

    div {
      margin: 10px 0;
      font-size: 16px;
      color: #555;

      .boldText {
        font-weight: 400;
        color: #141c24;
        margin-left: 8px;
      }
    }

    p {
      margin: 10px 0;
      font-size: 16px;
      color: #555;

      .boldText {
        font-weight: 400;
        color: #333;
        margin-left: 8px;
      }
    }

    .note {
      font-size: 14px;
      color: #777;
      margin-top: 20px;
    }
  }

  .buttons {
    display: flex;
    justify-content: space-between;
    gap: 15px;
    margin-top: 30px;

    button {
      flex: 1;
      padding: 12px 20px;
      border: none;
      border-radius: 8px;
      cursor: pointer;
      font-size: 16px;
      font-weight: 600;
      transition: background-color 0.3s ease;

      &.orderDetails {
        background-color: #007bff;
        color: white;

        &:hover {
          background-color: #0056b3;
        }
      }

      &.mainPage {
        background-color: #6c757d;
        color: white;

        &:hover {
          background-color: #5a6268;
        }
      }
    }
  }
}
